<%if @items.blank?%>
表示する申請はありません。
<%else%>
<%
if @kind=="friend"
package_to = :recognize_all
method = :get
else
package_to = :package_recognize
method = :post
end
%>
<% form_for :proposal, :html => { :multipart => true, :method=>method  },:url => {:action => package_to} do |f| %>
<%=hidden_field_tag :kind, @kind%>
<%=hidden_field_tag :do, "recognize"%>
<table class="index">
<tr>
  <th><%= check_box_tag "check_all", 1, false,{:id=>"checkAll"} %></th>
  <th></th>
  <th>状態</th>
  <th>申請者</th>
  <th>メッセージ</th>
  <th>申請日時</th>
</tr>
<%for item in @items%>

<tr>
  <td>
    <%= check_box_tag "ids[]", item.id, false,{:class=>"checkId"} %>
  </td>
  <td>
    <%
    if item.kind=="schedule"
      item_path = recognize_sns_friend_proposal_path(item)
    else
      item_path = sns_friend_proposal_path(item)
    end
      %>
    <%=link_to("確認",item_path)%>
  </td>
  <td><%=item.state_show%></td>
  <td>
    <%=safe{image_tag(item.fr_user.profile_photo_path,{:title=>item.fr_user.name,:width=>32,:alt=>item.to_user.name})}%>
    <%=safe{item.fr_user.name} %>（<%=safe{item.fr_user.group_name({:s_name=>false})} %>）</td>
  <td><%=item.index_body%></td>
  <td><%=safe{item.created_at.strftime('%Y-%m-%d %H:%M')}%></td>
</tr>
<%end%>
</table>
<%=f.submit("一括承認", :class=>"button", :id=>"recognizeAll")%>
<%=f.submit("一括拒否", :class=>"button", :id=>"refuseAll")%>
<%end%>
<%end%>

<script type="text/javascript">
//<![CDATA[
jQuery.noConflict();
jQuery(document).ready(function($){
  $("#checkAll").click(function(){
    $("input:checkbox").attr("checked",this.checked);
  });
  <%if @kind!="friend" %>
  $("#recognizeAll").click(function(){
    $("#do").val("recognize");
    if(confirm("チェックした申請を一括で承認します。よろしいですか？")){
        return true;
      }else{
        return false;
     }
  });
  <%end%>
  $("#refuseAll").click(function(){
    $("#do").val("refuse");
    if(confirm("チェックした申請を一括で拒否します。よろしいですか？")){
        return true;
      }else{
        return false;
     }
  });
});


</script>