
<td id="snsMenu">
<div id="snsMenuContainer">
<div class="profileContainer">
  <%= render :partial => "sns/admin/base/profile_menu"%>
</div>

</div>
</td>
<td  id="snsContent" class="friendProposals">
<div class="menu">
  <div class="leftMenu">
  <h2 class="friendProposals">申請情報</h2>
  <%= form_for :item, :url => {:action => :reply_all}, :html => {:method => :post} do |f| %>
  <%= f.error_messages %>

  <table class="show">
    <tr>
      <th colspan="2">申請元ユーザー</th>
    </tr>
        <%for item in @items
          fr_user = item.fr_user
          next if fr_user.blank?
          %>
          <tr>
          <td colspan="2">
          <%=hidden_field_tag 'ids[]', item.id %>
          <%=image_tag(fr_user.profile_photo_path(true), :alt =>fr_user.name, :align => 'center', :border => 0, :width=>48)%>
          <%=fr_user.name%>（<%=fr_user.group_name({:s_name=>false})%>）
          </td>
          </tr>
          <tr>
          <td colspan="2">
          <%=raw post_show(item.body)%>
          </td>
          </tr>
        <%end%>
    <tr>
      <th>返信</th>
      <td><%=f.text_area :reply_body, :rows=>5%></td>
    </tr>
  </table>
  <%= f.submit('承認する', :class=>"button") %>
  <% end %>
  </div>
</div>
</td >
<%= render :partial => "side_link"%>
