<%
range_list = Sns::Post.range_list
c_groups = Sns::CustomGroup.find(:all, :conditions=>{:user_id=>Core.profile.id})
unless c_groups.blank?
  c_groups.each do |c|
    range_list << [c.name, c.sequence]
  end
end
%>
  <%= f.hidden_field :created_user_id, :value=>Core.profile._id %><br />
  <table class="show">
    <tr>
      <th>URL</th>
      <td><%= f.text_field :url ,:size=>80%></td>
    </tr>
    <tr>
      <th>サイズ</th>
      <td>
        <%= f.text_field :width ,:size=>5, :style=>"ime-mode: disabled", :onchange=>"numCheck(this);"%>×
      <%= f.text_field :height ,:size=>5, :style=>"ime-mode: disabled", :onchange=>"numCheck(this);"%></td>
    </tr>
    <tr>
      <th>キャプション</th>
      <td><%= f.text_area :caption ,:cols=>80 , :rows=>5 %></td>
    </tr>
    <tr>
      <th>公開範囲</th>
      <td><%=f.select :privacy , range_list%></td>
    </tr>
    <tr>
      <td></td><td><%= raw submit(:register) %></td>
    </tr>
  </table>