
<td id="snsMenu">
<%if @created_user.account == Core.profile.account%>
<div id="snsMenuContainer">
<div class="profileContainer">
  <%= render :partial => "sns/admin/base/profile_menu"%>
</div>
</div>
<%else%>
  <%= render :partial => "sns/admin/base/user_menu"%>
<%end%>


</td>

<td id="snsContent" colspan="2">

<div class="bread_crumbs">

</div>

<div class="menu">
  <div class="leftMenu">
    <%feed_user = @item.created_user %>
    <%if feed_user.user_id == Core.user.id%>
     <div class="delete">
       <%= link_to "編集",edit_sns_video_path(@created_user.account, @item),:class => :edit %>
       <%=link_to "削除",sns_video_path(@created_user.account,@item),:method=>:delete,
  :class => :delete, :title => "削除", :confirm=>"この投稿を削除します。よろしいですか？"%>
     </div>
     <%end unless feed_user.blank?%>
  <%= render :partial => "sns/admin/videos/show"%>

  </div>
</div>
</td>