<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
<%if @photos.blank? && @samples.blank?%>
表示する写真データが存在しません。
<%end%>
<%for item in @photos%>
<div style="float: left; margin-right:10px;margin-bottom:10px;">
<%=link_to image_tag(item.prof_thumb_public_uri, :alt=>item.display_file_name, :height=>"100px", :style=>"border: 1px solid #BAAAA9;"), "javascript:void(0);",
  :class=>"photoSelect", :id=>"bt#{item.id}" %><br />
<%= link_to '削除する', {:action => :destroy, :id => item.id}, :method => :delete, :confirm => 'この画像を削除します。よろしいですか？', :style=>"float: right; font-size: 90%; color:#000; float: right;" %>
</div>
<%end unless @photos.blank?%>
<%for item in @samples%>
<div style="float: left; margin-right:10px;margin-bottom:10px;">
<%=link_to image_tag(item.prof_thumb_public_uri, :alt=>item.display_file_name, :height=>"100px", :style=>"border: 1px solid #BAAAA9;"), "javascript:void(0);",
  :class=>"photoSelect", :id=>"bt#{item.id}" %><br />
  <br />
</div>
<%end unless @samples.blank?%>
<%p_count = @photos.blank? ? 0 : @photos.count%>
<%= form_tag '#' do %><%= hidden_field_tag 'photos_count', p_count %><%end%>
</body>
</html>
