<td id="snsMenu">
<div id="snsMenuContainer">
<div class="profileContainer">
<%= render :partial => "sns/admin/base/project_menu"%>
</div>
</div>

</div>
</td>
<td  id="snsContent">
<div class="menu">
  <div class="leftMenu">
  <h2 class="project"><%=@project.title%></h2>
  <h3 class="titleLine" class="schedule">スケジュール</h3>
  <%= form_for :item, :url => {:action => :update, :parent=>@project_code}, :html => {:method => :put} do |f| %>

  <%= f.error_messages %>
    <%= render :partial => "form", :locals => {:f => f }%>
    <%= render :partial => "form_participant", :locals => {:f => f , :form_class=>"編集する" }%>
    <%= render :partial => "form_script", :locals => {:f => f}%>
<% end %>
  </div>
</div>
</td>
<%= render :partial => "side_link"%>