<%= render :partial => "menu"%>

<td id="snsContent" colspan="2">

<div class="bread_crumbs">

</div>

<div class="menu">
  <div class="leftMenu">
    <%= render :partial => "title"%>
    <%= form_for :item, :html => { :multipart => true}, :url => {:action => :create} do |f| %>

    <%= f.error_messages %>
    <%= render :partial => "form", :locals => {:f => f, :current=>@edit_current} %>
    <% end %>
  </div>
</div>
</td>