<div class="subject" id="subject<%=item.id%>">
<table class="head">
  <tr>
    <td class="title">
    <span><%=link_to item.title, item.doc_uri(@project)%></span>
    </td>
    <td class="subjectNo">
    <span>No.<%=item.conf_sequence.to_i%></span>
    </td>
  </tr>
</table>
<table class="proposer statement1 owner">
<tbody>
<tr>
<td class="thumbnail">
<%feed_user = item.created_user
if feed_user
image_str = image_tag(creator_photo(feed_user,item), :alt=>item.created_user_name, :title=>item.created_user_name, :width=>48)
%>
  <%=link_to image_str, feed_user.profile_uri%>
<%end%>
</td>
<td class="data">
<div class="name">
  <%if feed_user%>
    <%=link_to( item.creator_name  , user_profile_page(feed_user)) %>
  <%end%>
</div>
<div class="talk">
       <%=post_show(item.body)%>
       <br />
       <ul>
       <%
        video_content = []
        video_item = nil
        item.contents.each do |c|
        link_str = ""
        link_uri = ""
        link_class = ""
        if c[0]=="photo"
          file = Sns::Photo.find(:first, :conditions=>{:_id=>c[1]})
          next if file.blank?
          link_str = image_tag(file.resized_public_uri, file.display_options)
          #link_str = file.display_file_name
          link_uri = sns_project_photo_path(@project_code, file)
        elsif c[0]=="file"
          file = Sns::File.find(:first, :conditions=>{:_id=>c[1]})
          next if file.blank?
          link_str = file.display_file_name
          link_uri = file.public_uri
          link_class = file_icon_class(file.original_file_name)
        elsif c[0]=="video"
          video_content = c
          next
        end

        %>
          <li><%=link_to link_str, link_uri, :class=>link_class, :target=>"_blank"%></li>
       <%end if item.contents%>
       </ul>
    <%
    video_item = Sns::Video.where(:_id=>video_content[1]).first unless video_content.blank?
    unless video_item.blank?%>
      <iframe src="<%=video_item.url%>" width="400" height="300"></iframe>
    <%end%>
</div>
<div class="date">
  <span><%=safe{item.last_doc_update.strftime("%Y-%m-%d %H:%M")}%></span>
</div>
<%= render :partial => "sns/admin/likes/like_field", :locals => {:post => item, :kind=>"thread"} %>
<%= render :partial => "sns/admin/favorites/fav_field", :locals => {:post => item, :kind=>"thread"} %>
<div class="delete" id="function<%=item.id%>">
  <%if item.is_editable? || @project.is_admin?%>
  <span><%=link_to "削除する",'javascript: void(0);',:method=>:delete, :title => "削除",
      :class => :delete, :id=>"delete#{item.id}" %></span>
  <span>
    <%=link_to "編集する",edit_sns_conference_path(@project_code, item), :title => "編集",:class => "button"%>
  </span>
  <%end%>
</div>

</td>
</tr>

</tbody>
</table>
<div id="comment<%=item.id%>" class="commentShow">
<%@replies = item.comments%>
<%= render :partial => "sns/admin/projects/conferences/index_comment", :locals => {:item=>item, :comments=>@replies, :statement=>1} %>
</div>
<table class="proposer statement1" id="replyForm<%=item.id%>">
<tr>
  <td class="commentLinkBottom">
    <%if @project.is_join?%>
    <%if item.comment_size_show < comment_limit
      cbutton_style=""
      cwarning_style="display:none;"
    else
      cbutton_style="display:none;"
      cwarning_style=""
    end%>
    <%=link_to "コメントする","#", :onclick=>"return false;",:id=>"bottomCbutton#{item.id}",:class=>"commentFormShow button",:style=>cbutton_style %>
    <span class="warning" id="commentWarning<%=item.id%>" style="<%=cwarning_style%>"><%=comment_limit_message%></span>
    <%end%>
  </td>
</tr>
<tr class="comment">
<td>
<%= form_for :comment, :url => { :action => :reply, :parent=>@project_code, :p_id=>item.id},
  :html => { :class=>"commentForm", :remote=>true, :multipart => true , :method => :post, :id=>"form#{item.id}",:name=>"frname#{item.id}", :style=>"display: none;"} do |f| %>
<%= f.error_messages %>
<%= render :partial => "sns/admin/projects/conferences/reply_form", :locals => {:f => f, :parent_id=>item.id, :fold=>false, :kind=>"thread", :statement=>1} %>
<%end%>
</td>
</tr>
</table>
</div><!--subject-->