<%if @office.blank?%>
勤務先情報が登録されていません。
<%else%>
<table class="show">
<%if manager_config[:office_name]=="enabled"%>
<tr class="office"><th>勤務先名</th><td><%=@office.name%></td></tr>
<%end%>
<%if manager_config[:offitial_position]=="enabled"%>
  <tr class="post"><th>役職</th><td><%=@office.offitial_position%></td></tr>
<%end%>
<%if manager_config[:assigned_job]=="enabled"%>
  <tr class="charge"><th>担当</th><td><%=@office.assigned_job%></td></tr>
<%end%>
<%if manager_config[:extension]=="enabled"%>
  <tr class="charge"><th>電話番号</th><td><%=@office.extension%></td></tr>
<%end%>
<%if manager_config[:office_remarks]=="enabled"%>
  <!--<tr class="start"><th>勤務開始</th><td><%#=safe{@office.start_at.strftime('%Y-%m-%d')}%></td></tr>
  <tr class="start"><th>勤務終了</th><td><%#=safe{@office.end_at.strftime('%Y-%m-%d')}%></td></tr>-->
  <tr class="end">
    <th>備考</th>
    <td>
      <%=@office.remarks%>
      <div class="myFunction">
      <%=link_to "編集する",edit_sns_office_path(@office), :class=>:edit  if edit_flag==true%>
      <%#=link_to "削除する",sns_office_path(@office),:method=>:delete,
       :class => :delete, :title => "削除", :confirm=>"この勤務先データを削除します。よろしいですか？" if edit_flag==true%>
      </div>
    </td>
  </tr>
<%end%>
</table>
<%end%>

