<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="shortcut icon" href="/_common/themes/admin/sns/images/favicon.ico"/>
<title><%=h Core.title %></title>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag '/javascripts/jquery.js' %>
<%= javascript_include_tag '/javascripts/ui/ui.core.js' %>
<%= javascript_include_tag '/javascripts/ui/ui.widget.js' %>
<%= javascript_include_tag '/javascripts/ui/ui.mouse.js' %>
<%= javascript_include_tag '/javascripts/ui/ui.position.js' %>
<%= javascript_include_tag '/javascripts/ui/ui.dialog.js' %>
<%= javascript_include_tag '/javascripts/ui/ui.draggable.js' %>
<%= javascript_include_tag '/javascripts/ui/ui.resizable.js' %>
<%= javascript_include_tag '/javascripts/ui/bgiframe.js' %>

<%= javascript_include_tag '/javascripts/image_area_select/scripts/jquery.imgareaselect.pack.js' %>
<%= javascript_include_tag '/javascripts/autosize/jquery.autosize.js' %>
<%= javascript_include_tag '/_common/js/cookiemanager.js' %>
<%= javascript_include_tag '/_common/js/navigation.js' %>

<%= csrf_meta_tag %>
<%= stylesheet_link_tag '/_common/themes/admin/sns/style', :media => 'all' %>
<%= stylesheet_link_tag '/_common/themes/admin/sns/print', :media => 'print' %>
<%= stylesheet_link_tag '/_common/themes/admin/sns/form' %>
<%= stylesheet_link_tag '/javascripts/image_area_select/css/imgareaselect-default.css' %>

</head>
