<div class="likeForm">
<%
like = false
like = true if item.like_user_id.index(Core.profile.id) unless item.like_user_id.blank?
%>
<div id="likeBtn<%=item.id%>" class="<%=like == false ? 'setLike' : 'censelLike'%>">
<%if like%>
<%=link_to "いいねを取り消す", delete_comment_sns_like_path(item,{:p_id=>post.id,:kind=>kind}),:remote => true %></span>
<%else%>
<%=link_to "いいね", comment_sns_like_path(item,{:p_id=>post.id,:kind=>kind}),:remote => true%></span>
<%end%>
</div>
<div id="like<%=item.id%>">
<%= render :partial => "sns/admin/likes/ajax_comment_create", :locals => {:item=>item, :post => post, :kind=>kind} %>
</div>
</div>
